* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    font-family: arial;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    background-color: #f3f4f6;
}

nav {

    display: flex;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.li {
    position: relative;
}

.drop1 li{
    display: block;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.drop1 {
    /* border: 1px solid black; */
    background-color: white;
    left: 268px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.drop2 li{
    display: block;
    /* border: 1px solid rgba(0, 0, 0, 0.5);   */
}

.drop2 {
    background-color: white;
    left: 268px;
    position: absolute;
    width: 100%;
    visibility: hidden;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.icon2 {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.li:hover .drop1{
    opacity: 1;
    visibility: visible;
}

.li:hover .icon2{
    transform: rotate(180deg);
}

.li:hover .drop2{
    opacity: 1;
    visibility: visible;
}

nav .bar ul{
    list-style: none;
}

nav .bar ul li{
    display: inline-block;
    position: relative;
}

nav .bar ul li a{
    font-size: 23px;
    display: block;
    color: #660033;
    text-decoration: none;
    text-align: center;
    padding: 25px 20px;
}

nav .bar ul .dropdown li{
    display: block;
}

nav .bar  ul .dropdown {
    background-color: white;
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
    border-radius: 15px;
    z-index: 100;
}

nav .bar ul .dropdown li a{
    cursor: pointer;
}

nav ul li a{
    text-align: center;
}

nav .bar ul li a:hover {
    background-color: 	#E8E8E8;
}

nav .bar ul li:hover .dropdown{
    display: block;
}

span{
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

nav .bar ul li:hover a span{
    transform: rotate(180deg);
}

nav .bar ul .dropdown li a{
    color: #660033;
}

.bar {
    margin-left: auto;
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin-bottom: auto;
}

.search {
    background-color: #660033;
    height: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 800px;
    outline: none;
    color: white;
    font-size: 20px;
}


.search input:focus {
    border-color: #cf9451;
}

.search input:focus + i{
    color: #cf9451;
}

.search i{
    color: white;
    position: absolute;
    right: 210px;
}



nav img{
    margin-left: 100px;
    width: 100px;
}

nav h1{
    font-size: 35px;
}


/* ------------------------------------------------------------------------ */

/* .menu ul li:hover .dropmenu {
    display: block;
} */

.drop3 {
    margin-left: 20px;
    display: none;
}

.la:hover .drop3 {
    display: block;
}

.la:hover .icon2 {
    transform: rotate(180deg);
}

.dropmenu{
    margin-left: 20px;
    display: none;
}

.dropmenu li a{
    color: #747471 !important;
}

.menu .navContainer div ul li:hover .dropmenu{
    display: block;
}

.menu .navContainer div ul li:hover a span{
    transform: rotate(180deg);
}



.menu {
    margin-left: auto;
    margin-right: 20px;
    display: none;
}

.menu button{
    background-color: transparent;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 25px;
    /* position: relative; */
}

.navContainer {
    /* display: none; */
    background-color: #38343c;
    width: 300px;
    position: fixed;
    height: 100%;
    /* right: 0; */
    right: -300px;
    top: 0;
    /* display: none; */
    transition: transform 0.5s ease-in-out;
}

.navContainer button{
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.navContainer button:hover {
    font-size: 30px;
}

.menu ul {
    list-style: none;
}

.menu ul li a:hover {
    font-size: 25px;
}

/* .menu ul{
    margin: 50px 0;
} */

.menu ul li {
    margin-top: 15px;
}



#li1 {
    margin-top: 100px;
}


.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}


.bottom {
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #38343c;
    margin-top: auto;
    overflow: hidden;
}

.bcontainer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
}

.icons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.icons a{
    color: rgb(238, 64, 64);
    font-size: 30px;
    transition: font-size 0.2s ease-in-out;
}

.icons a:hover{
    font-size: 32px;
}

@media (max-width: 450px) {
    .buttons{
        gap: 15px;
        flex-direction: column;
        margin-top: 15px;
        box-shadow: none;
    }

    .buttons button{
        width: 100px;
        height: 100px
    }

    .slider {
        height: 450px;
    }

    .lcontainer{
        flex-direction: column;
    }

    .top-container {
        flex-direction: column;
    }


    .bcontainer {
        flex-direction: column;
    }

    .bar {
        display: none;
    }
    

    nav img{
        margin-left: 0;
        width: 50px;
    }

    nav h1{
        font-size: 20px;
    }

    .menu{
        display: block;
    }

    .navigation {
        width: 100%;
        align-self: auto !important;
        width: 300px !important;
    }


    .main2 {
        flex-direction: column;
    }
    
    .main2 img{
        width: 100%;
    }


    hr {
        width: 90% !important;
    }    

}

@media (min-width: 700px) and (max-width: 1200px) {
    .bar {
        display: none;
    }


    nav img{
        margin-left: 0;
        width: 70px;
    }

    nav h1{
        font-size: 30px;
    }

    .menu{
        display: block;
    }

    video {
        width: 100% !important;
    }

    .drop3 {
        display: block;
    }

    .main2 {
        flex-direction: column;
    }


}

.main {
    display: flex;
    flex-direction: column;
}


blockquote {
    color: #3c3c37;
    font-size: 20px;
    width: 70%;
    text-align: left;
    line-height: 2;
    margin: 20px 0; 
}

.blockquote {
    color: #3c3c37;
    font-size: 20px;
    width: 70%;
    text-align: left;
    line-height: 2;
    font-family: monospace;
    margin: 20px 0;
}

.main h1{
    color: #3c3c37;
}

.main2 {
    display: flex;
    margin-top: 100px;
}

.dropmenus{
    margin-left: 20px;
}

.dropmenus li a{
    color: #747471 !important;
}

.whatsapp {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50PX;
    right: 15px;
    gap: 10px;
    z-index: 1000;
}


.whatsapp button{
    width: 70px;
    border-radius: 50%;
    /* background-color: green; */
    border: none;
    transition:  width 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.whatsapp button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .whatsapp button:hover {
    width: 75px;
} */


.whatsapp p{
    background-color: white;
    border-radius: 10px;
    color: #38343c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}

.whatsapp a:hover + p {
    opacity: 1;
}
